// anywhere
table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
  tbody
    tr
      td(background='https://www.zdrav.ru/images/email/automail_demo_bss_anywhere-1.png' bgcolor='#7d90a5' style="background-image: url('http://www.1elpu.ru/images/mail/automail_demo_bss_anywhere-1.png?ver=2'); background-repeat: no-repeat;" width='68')
      td(background='https://www.zdrav.ru/images/email/automail_demo_bss_anywhere-2.png' bgcolor='#7d90a5' height='290' style="background-image: url('https://www.zdrav.ru/images/email/automail_demo_bss_anywhere-2.png'); background-repeat: no-repeat;" valign='top' width='541')
        table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td(height='32' style='font-size: 1px; line-height: 1px;')
            tr
              td(style='font-size: 34px; font-weight: bold; line-height: 48px; color: #ffffff; font-family: Arial,sans-serif;')
                font(face='Arial, sans-serif' style='color: #ffffff;') &Scy; &Scy;&icy;&scy;&tcy;&iecy;&mcy;&ocy;&jcy; &laquo;&Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&kcy;&acy; &Lcy;&Pcy;&Ucy;&raquo; &mcy;&ocy;&zhcy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &vcy;&iecy;&zcy;&dcy;&iecy;!
            tr
              td(height='12' style='font-size: 1px; line-height: 1px;')
            tr
              td(style='font-size: 16px; font-weight: normal; line-height: 28px; color: #ffffff; font-family: Arial,sans-serif;')
                font(face='Arial, sans-serif' style='color: #ffffff;')
                  | [% IF anketa.id2.FirstName %][% anketa.id2.FirstName %][% ELSE %]&dcy;&ocy;&rcy;&ocy;&gcy;&ocy;&jcy; &kcy;&ocy;&lcy;&lcy;&iecy;&gcy;&acy;[% END %], &Vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &scy; &Scy;&icy;&scy;&tcy;&iecy;&mcy;&ocy;&jcy; &laquo;&Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&kcy;&acy; &Lcy;&Pcy;&Ucy;&raquo; &icy; &dcy;&ocy;&mcy;&acy;, &icy; &vcy; &kcy;&acy;&fcy;&iecy; &icy; &vcy; &lcy;&yucy;&bcy;&ocy;&mcy; &dcy;&rcy;&ucy;&gcy;&ocy;&mcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&mcy; &icy; &pcy;&rcy;&icy;&yacy;&tcy;&ncy;&ocy;&mcy; &mcy;&iecy;&scy;&tcy;&iecy;, &gcy;&dcy;&iecy; &iecy;&scy;&tcy;&softcy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;. &Ncy;&acy;&dcy;&ocy; &lcy;&icy;&shcy;&softcy; &vcy;&vcy;&iecy;&scy;&tcy;&icy; &scy;&vcy;&ocy;&icy; &lcy;&ocy;&gcy;&icy;&ncy; &icy; &pcy;&acy;&rcy;&ocy;&lcy;&softcy;.
      td(background='https://www.zdrav.ru/images/email/automail_demo_bss_anywhere-3.png' bgcolor='#7d90a5' style="background-image: url('https://www.zdrav.ru/images/email/automail_demo_bss_anywhere-3.png'); background-repeat: no-repeat;" width='89')
