// handbook
table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
  tbody
    tr
      td(bgcolor='#ffffff' rowspan='4' style='font-size: 1px; line-height: 1px;' width='68')
      td(bgcolor='#ffffff' colspan='2' height='26' style='font-size: 1px; line-height: 1px;' width='604')
      td(bgcolor='#ffffff' rowspan='4' style='font-size: 1px; line-height: 1px;' width='26')
    tr
      td(bgcolor='#ffffff' colspan='2' style='font-size: 18px; font-weight: bold; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='604')
        font(face='Arial, sans-serif') &Bcy;&ycy;&scy;&tcy;&rcy;&ycy;&iecy; &pcy;&ocy;&dcy;&scy;&kcy;&acy;&zcy;&kcy;&icy; &vcy; &Scy;&pcy;&rcy;&acy;&vcy;&ocy;&chcy;&ncy;&icy;&kcy;&iecy;
    tr
      td(bgcolor='#ffffff' colspan='2' height='4' style='font-size: 1px; line-height: 1px;' width='604')
    tr
      td(bgcolor='#ffffff' height='237' valign='top' width='272')
        img(alt='Правовая база. Кодексы' border='0' height='199' src='https://www.zdrav.ru/images/email/trigger/automail_demo_bss_handbook.jpg' style='display: block; outline: none; border: none; text-decoration: none;' width='272')
      td(bgcolor='#ffffff' style='font-size: 16px; font-weight: normal; line-height: 28px; color: #000000; font-family: Arial,sans-serif; padding-left: 20px;' valign='top' width='332')
        font(face='Arial, sans-serif')
          | &Vcy;&scy;&yucy; &scy;&acy;&mcy;&ucy;&yucy; &vcy;&acy;&zhcy;&ncy;&ucy;&yucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &dcy;&lcy;&yacy; &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&scy;&kcy;&icy;&khcy; &ucy;&chcy;&rcy;&iecy;&zhcy;&dcy;&iecy;&ncy;&icy;&jcy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &acy;&kcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &tcy;&iecy;&mcy;&acy;&mcy; &vcy;&ycy; &ncy;&acy;&jcy;&dcy;&iecy;&tcy;&iecy; &vcy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy;&iecy; &laquo;
          a(href="[% action_autologin('http://vip.1elpu.ru/?utm_source=lettertrigger&utm_medium=letter&utm_campaign=lettertrigger_view_day1_elpu#/handbook/') %]" style='outline: none;' target='_blank') &Scy;&pcy;&rcy;&acy;&vcy;&ocy;&chcy;&ncy;&icy;&kcy;&icy;
          | &raquo;. &Kcy; &pcy;&rcy;&icy;&mcy;&iecy;&rcy;&ucy;, &pcy;&ocy; &ncy;&ocy;&rcy;&mcy;&acy;&mcy; &tcy;&rcy;&ucy;&dcy;&acy;, &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &kcy;&vcy;&acy;&lcy;&icy;&fcy;&icy;&kcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&mcy; &gcy;&rcy;&ucy;&pcy;&pcy;&acy;&mcy; &icy; &mcy;&ncy;&ocy;&gcy;&ocy;&mcy;&ucy; &dcy;&rcy;&ucy;&gcy;&ocy;&mcy;&ucy;.
