// info
table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
  tbody
    tr
      td(bgcolor='#ffffff' rowspan='2' style='font-size: 1px; line-height: 1px;' width='68')
      td(bgcolor='#ffffff' valign='top' width='174')
        img(alt='' border='0' src='https://www.zdrav.ru/images/email/es/icon_novin_elpy.png' style='display: block; outline: none; border: none; text-decoration: none;')
      td(bgcolor='#ffffff' valign='top' width='194')
        img(alt='' border='0' src='https://www.zdrav.ru/images/email/es/icon_serv_elpy.png' style='display: block; outline: none; border: none; text-decoration: none;')
      td(bgcolor='#ffffff' valign='top' width='262')
        img(alt='' border='0' src='https://www.zdrav.ru/images/email/es/icon_vopros_elpy.png' style='display: block; outline: none; border: none; text-decoration: none;')
    tr
      td(bgcolor='#ffffff' height='98' style='font-size: 14px; font-weight: normal; line-height: 20px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='174')
        font(face='Arial, sans-serif')
          | &chcy;&iecy;&mcy; &bcy;&ucy;&dcy;&iecy;&tcy; &pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&acy;
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; 
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&icy;&mcy;&iecy;&ncy;&ncy;&ocy; &dcy;&lcy;&yacy; &Vcy;&acy;&scy;
      td(bgcolor='#ffffff' height='98' style='font-size: 14px; font-weight: normal; line-height: 20px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='194')
        font(face='Arial, sans-serif')
          | &kcy;&acy;&kcy;&icy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&iecy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy;
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&icy; &fcy;&ucy;&ncy;&kcy;&tscy;&icy;&icy; &vcy; &ncy;&iecy;&jcy; &iecy;&scy;&tcy;&softcy;
      td(bgcolor='#ffffff' height='98' style='font-size: 14px; font-weight: normal; line-height: 20px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='262')
        font(face='Arial, sans-serif')
          | &icy; &kcy;&acy;&kcy; &pcy;&ocy;&scy;&kcy;&ocy;&rcy;&iecy;&iecy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy;
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&ocy;&tcy;&vcy;&iecy;&tcy; &ncy;&acy; &scy;&vcy;&ocy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;
