// press
table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
  tbody
    tr
      td(bgcolor='#ffffff' rowspan='4' style='font-size: 1px; line-height: 1px;' width='68')
      td(bgcolor='#ffffff' height='46' style='font-size: 1px; line-height: 1px;' width='533')
      td(bgcolor='#ffffff' rowspan='4' style='font-size: 1px; line-height: 1px;' width='97')
    tr
      td(bgcolor='#ffffff' style='font-size: 18px; font-weight: bold; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='533')
        font(face='Arial, sans-serif') &Scy;&acy;&mcy;&ycy;&iecy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&iecy; &zhcy;&ucy;&rcy;&ncy;&acy;&lcy;&ycy; &mdash; &vcy; &bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&iecy; &Scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
    tr
      td(bgcolor='#ffffff' height='12' style='font-size: 1px; line-height: 1px;' width='533')
    tr
      td(bgcolor='#ffffff' style='font-size: 16px; font-weight: normal; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='533')
        font(face='Arial, sans-serif')
          | &Vcy; &Scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy; &laquo;&Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&kcy;&acy; &Lcy;&Pcy;&Ucy;&raquo; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&acy;&yacy; 
          a(href="[% action_autologin('http://vip.1elpu.ru/?utm_source=lettertrigger&utm_medium=letter&utm_campaign=lettertrigger_view_day1_elpu#/press/') %] " style='outline: none;' target='_blank') &bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&acy; &dcy;&lcy;&yacy; &ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&scy;&tcy;&acy; &icy; &gcy;&lcy;&acy;&vcy;&ncy;&ocy;&gcy;&ocy; &vcy;&rcy;&acy;&chcy;&acy;
          | . &Zcy;&dcy;&iecy;&scy;&softcy; &iecy;&scy;&tcy;&softcy; &vcy;&scy;&iecy; &ncy;&ocy;&mcy;&iecy;&rcy;&acy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&khcy; &vcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &zhcy;&ucy;&rcy;&ncy;&acy;&lcy;&ocy;&vcy; &laquo;&Zcy;&dcy;&rcy;&acy;&vcy;&ocy;&ocy;&khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&iecy;&raquo;, &laquo;&Ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;&mcy; &vcy; &zcy;&dcy;&rcy;&acy;&vcy;&ocy;&ocy;&khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&icy;&raquo;, &laquo;&Ucy;&chcy;&iecy;&tcy; &vcy; &ucy;&chcy;&rcy;&iecy;&zhcy;&dcy;&iecy;&ncy;&icy;&icy;&raquo;, &laquo;&Ucy;&chcy;&iecy;&tcy; &vcy; &kcy;&acy;&zcy;&iecy;&ncy;&ncy;&ycy;&khcy; &ucy;&chcy;&rcy;&iecy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;&khcy;&raquo;, &laquo;&Zcy;&acy;&rcy;&pcy;&lcy;&acy;&tcy;&acy; &vcy; &ucy;&chcy;&rcy;&iecy;&zhcy;&dcy;&iecy;&ncy;&icy;&icy;&raquo;. &Icy; &chcy;&tcy;&ocy; &vcy;&acy;&zhcy;&ncy;&ocy;, &vcy; &ncy;&acy;&shcy;&iecy;&jcy; &Scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy; &ocy;&ncy;&icy; &pcy;&ocy;&yacy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &dcy;&acy;&zhcy;&iecy; &rcy;&acy;&ncy;&softcy;&shcy;&iecy; &dcy;&ncy;&yacy; &vcy;&ycy;&khcy;&ocy;&dcy;&acy; &icy;&zcy; &pcy;&iecy;&chcy;&acy;&tcy;&icy;.
    tr
      td(bgcolor='#ffffff' colspan='3' valign='top' align='center')
        img(alt='Журналы и книги' border='0' src='https://www.zdrav.ru/images/email/trigger/automail_demo_bss_press.jpg' style='display: block; outline: none; border: none; text-decoration: none;' width='602')
