// recommend
table(align='center' border='0' cellpadding='0' cellspacing='0' style='margin: 0; padding: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
  tbody
    tr
      td(bgcolor='#ffffff' rowspan='8' style='font-size: 1px; line-height: 1px;' width='68')
      td(bgcolor='#ffffff' height='42' style='font-size: 1px; line-height: 1px;' width='533')
      td(bgcolor='#ffffff' rowspan='6' style='font-size: 1px; line-height: 1px;' width='71')
      td(bgcolor='#ffffff' rowspan='8' style='font-size: 1px; line-height: 1px;' width='26')
    tr
      td(bgcolor='#ffffff' style='font-size: 18px; font-weight: bold; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='533')
        font(face='Arial, sans-serif') &CHcy;&icy;&tcy;&acy;&jcy;&tcy;&iecy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&icy; &acy;&vcy;&tcy;&ocy;&rcy;&icy;&tcy;&iecy;&tcy;&ncy;&ycy;&khcy; &acy;&vcy;&tcy;&ocy;&rcy;&ocy;&vcy;
    tr
      td(bgcolor='#ffffff' height='12' style='font-size: 1px; line-height: 1px;' width='533')
    tr
      td(bgcolor='#ffffff' style='font-size: 16px; font-weight: normal; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='533')
        font(face='Arial, sans-serif')
          | &Scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &laquo;&Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&kcy;&acy; &Lcy;&Pcy;&Ucy;&raquo; &mdash; &ecy;&tcy;&ocy;, &vcy; &pcy;&iecy;&rcy;&vcy;&ucy;&yucy; &ocy;&chcy;&iecy;&rcy;&iecy;&dcy;&softcy;, &iecy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &pcy;&ocy;&pcy;&ocy;&lcy;&ncy;&yacy;&iecy;&mcy;&acy;&yacy; &bcy;&acy;&zcy;&acy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&jcy;, &acy;&vcy;&tcy;&ocy;&rcy;&acy;&mcy;&icy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy;  &yacy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; 
          a(href="[% action_autologin('http://vip.1elpu.ru/?utm_source=lettertrigger&utm_medium=letter&utm_campaign=lettertrigger_view_demo_day1_elpu') %]" style='outline: none;' target='_blank') &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&ycy; &pcy;&rcy;&ocy;&fcy;&icy;&lcy;&softcy;&ncy;&ycy;&khcy; &mcy;&icy;&ncy;&icy;&scy;&tcy;&iecy;&rcy;&scy;&tcy;&vcy; &icy; &vcy;&iecy;&dcy;&ocy;&mcy;&scy;&tcy;&vcy;
          | .
    tr
      td(bgcolor='#ffffff' height='12' style='font-size: 1px; line-height: 1px;' width='533')
    tr
      td(bgcolor='#ffffff' style='font-size: 16px; font-weight: normal; line-height: 28px; color: #000000; font-family: Arial,sans-serif;' valign='top' width='533')
        font(face='Arial, sans-serif')
          | &Ncy;&acy;&jcy;&tcy;&icy; &ncy;&ucy;&zhcy;&ncy;&ucy;&yucy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&yucy; &Vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy;, &zcy;&acy;&dcy;&acy;&vcy; &scy;&vcy;&ocy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &vcy; &pcy;&ocy;&icy;&scy;&kcy;&ocy;&vcy;&ocy;&jcy; &scy;&tcy;&rcy;&ocy;&kcy;&iecy;. &Icy;&lcy;&icy; &chcy;&iecy;&rcy;&iecy;&zcy; &rcy;&ucy;&bcy;&rcy;&icy;&kcy;&acy;&tcy;&ocy;&rcy; &vcy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy;&iecy; &laquo;
          a(href="[% action_autologin('http://vip.1elpu.ru/?utm_source=lettertrigger&utm_medium=letter&utm_campaign=lettertrigger_view_day1_elpu/recommendations')%]" style='outline: none;' target='_blank') &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&icy;
          | &raquo;. &Dcy;&lcy;&yacy; &Vcy;&acy;&shcy;&iecy;&gcy;&ocy; &ucy;&dcy;&ocy;&bcy;&scy;&tcy;&vcy;&acy; &vcy;&scy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy; &rcy;&acy;&zcy;&bcy;&icy;&tcy;&ycy; &ncy;&acy; &rcy;&ucy;&bcy;&rcy;&icy;&kcy;&icy;.
    tr
      td(bgcolor='#ffffff' colspan='2' height='24' style='font-size: 1px; line-height: 1px;' width='604')
    tr
      td(bgcolor='#ffffff' colspan='2' height='285' valign='top' width='604')
        img(alt='Рекомендации' border='0' src='https://www.zdrav.ru/images/email/trigger/automail_demo_bss_nalog.jpg' style='display: block; outline: none; border: none; text-decoration: none;' width='100%')
