extends ../layouts/main.pug

block title
  title Письмо 1

block content
  include ../partials/header
  include ../partials/divider
  include ../partials/greetings
  include ../partials/info
  include ../partials/divider
  include ../partials/recommend
  include ../partials/anywhere
  include ../partials/watch
  include ../partials/divider
  include ../partials/law
  // divider
  include ../partials/forms
  include ../partials/divider
  include ../partials/press
  include ../partials/handbook
  include ../partials/divider
  include ../partials/videos
  include ../partials/divider
  include ../partials/footer
